@model IEnumerable<CRUD.Models.Product>

@{
    ViewData["Title"] = "Produtos Registrados";
}

<h1>Produtos Registrados</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success btn-sm">Novo Produto</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-controller="Product" asp-action="Update" asp-route-productId="@item.ProductId" class="btn btn-outline-info btn-sm">Atualizar</a>&emsp;
                <form asp-controller="Product" asp-action="Delete" asp-route-productId="@item.ProductId" onclick="confirm('Excluir produto @item.Name ?')">
                <button type="submit" class="btn btn-outline-danger btn-sm">Excluir</button></form>
            </td>
        </tr>
}
    </tbody>
</table>
